

@model OnlineShop.PL.ViewModel.LoginViewModel

<main class="main page__main container">
    <div class="main__content">
        <form class="form" asp-action="Login">
            <input class="input" placeholder="Почта" asp-for="Email">
            <span asp-validation-for="Email" class="validation-field"></span>
            <input class="input" placeholder="Пароль" asp-for="Password">
            <span asp-validation-for="Password" class="validation-field"></span>
            <button class="button--green">Войти</button>
        </form>
    </div>
</main>