@model OnlineShop.PL.ViewModel.RegistrationViewModel

<main class="main page__main container">
    <div class="main__content">
        <form class="form" asp-action="Registration">
            <div class="form__row">
                <div class="form__group">
                    <input type="text" class="input" placeholder="Имя" asp-for="FirstName">
                    <span asp-validation-for="FirstName" class="validation-field"></span>
                </div>
                 <div class="form__group">
                    <input type="text" class="input" placeholder="Фамилия" asp-for="LastName">
                    <span asp-validation-for="LastName" class="validation-field"></span>
                </div>
            </div>
            <input type="text" class="input" placeholder="Логин" asp-for="UserName">
            <span asp-validation-for="UserName" class="validation-field"></span>
            <input type="text" class="input" placeholder="Почта" asp-for="Email">
            <span asp-validation-for="Email" class="validation-field"></span>
            <input type="text" class="input" placeholder="Пароль" asp-for="Password">
            <span asp-validation-for="Password" class="validation-field"></span>
            <button class="button--green">Зарегистрироватся</button>
        </form>
    </div>
</main>