@{
    ViewData["Title"] = "Home Page";
}

<main class="main page__main container">
    <div class="main__content">
        <div class="product main__product">
            <img src="">
            <h2 class="title product__title">IPhone 13</h2>
            <div class="tags product__tags">Легкий, Стильный, Класический</div>
            <div class="product__footer">
                <div class="price product__price">1000$</div>
                <div class="button--green basket product__basket">
                    <ion-icon class="basket__icon" name="cart-outline"></ion-icon>
                    <span class="basket__text">В корзину</span>
                </div>
            </div>
        </div>
        <div class="product main__product">
            <img src="">
            <h2 class="title product__title">IPhone 13</h2>
            <div class="tags product__tags">Легкий, Стильный, Класический</div>
            <div class="product__footer">
                <div class="price product__price">1000$</div>
                <div class="button--green basket product__basket">
                    <ion-icon class="basket__icon" name="cart-outline"></ion-icon>
                    <span class="basket__text">В корзину</span>
                </div>
            </div>
        </div>
        <div class="product main__product">
            <img src="">
            <h2 class="title product__title">IPhone 13</h2>
            <div class="tags product__tags">Легкий, Стильный, Класический</div>
            <div class="product__footer">
                <div class="price product__price">1000$</div>
                <div class="button--green basket product__basket">
                    <ion-icon class="basket__icon" name="cart-outline"></ion-icon>
                    <span class="basket__text">В корзину</span>
                </div>
            </div>
        </div>
        <div class="product main__product">
            <img src="">
            <h2 class="title product__title">IPhone 13</h2>
            <div class="tags product__tags">Легкий, Стильный, Класический</div>
            <div class="product__footer">
                <div class="price product__price">1000$</div>
                <div class="button--green basket product__basket">
                    <ion-icon class="basket__icon" name="cart-outline"></ion-icon>
                    <span class="basket__text">В корзину</span>
                </div>
            </div>
        </div>
        <div class="product main__product">
            <img src="">
            <h2 class="title product__title">IPhone 13</h2>
            <div class="tags product__tags">Легкий, Стильный, Класический</div>
            <div class="product__footer">
                <div class="price product__price">1000$</div>
                <div class="button--green basket product__basket">
                    <ion-icon class="basket__icon" name="cart-outline"></ion-icon>
                    <span class="basket__text">В корзину</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar main__sidebar">
        <h3 class="title sidebar__title">Теги</h3>
        <div class="tags sidebar__tags">
            <div class="tags__item tags__item--selected">Игровой</div>
            <div class="tags__item">Класический</div>
            <div class="tags__item">Легкий</div>
            <div class="tags__item">Стильный</div>
        </div>
        <h3 class="title sidebar__title">Цена</h3>
        <div class="filter-price sidebar__filter-price">
            <div class="filter-price__inputs">     
                <span class="filter-price__text">от</span>
                <input type="number" class="filter-price__min input--small" value="1300">
                <span class="filter-price__text">до</span>
                <input type="number" class="filter-price__max input--small" value="25000">
            </div>
            <span class="filter-price__hint hint">цены указуются в долларах</span>
        </div>
    </div>
</main>