@import "sidebar";
@import "product";

.main {
    display: flex;
    justify-content: center;
    align-items: top;

    margin-top: 50px;
}

.main__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}