<!DOCTYPE html> 
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shop</title>

    <link rel="stylesheet" href="~/styles/css/style.min.css">
</head>
<body class="page">
    <header class="header page__header container">
        <div class="logo header__logo">
            OnlineShop
        </div>
        <div class="search header__search">
            <ion-icon class="search__icon" name="leaf-outline"></ion-icon>
            <input class="search__input" type="text" placeholder="Введите название товара">
            <ion-icon class="search__icon-search" name="search-outline"></ion-icon>
        </div>
        <div class="contacts header__contacts">
            <ion-icon class="contacts__icon" name="mail-outline"></ion-icon>
            <div class="contacts__inner">
                <span class="contacts__type">Контакты:</span>
                <span class="contacts__data">support@gmail.com</span>
            </div>
        </div>
        <div class="auth header__auth">
            @if(Context.User.Claims.Count() != 0)
            {
                <a asp-controller="Auth" asp-action="Login" class="auth__link">Профиль</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login" class="auth__link">Вход</a>
                <a asp-controller="Auth" asp-action="Registration" class="auth__link">Регистрация</a>    
            }
        </div>
        <div class="basket header__basket button--green">
            <ion-icon class="basket__icon" name="cart-outline"></ion-icon>
            <span class="basket__text">Корзина</span>
        </div>
    </header>

    <div class="preview page__preview">
        @RenderSection("Preview", required: false)
    </div>
    <nav class="nav page__nav container">
        <a class="nav__link nav__link--select">Телефоны</a>
        <a class="nav__link">Планшеты</a>
        <a class="nav__link">Ноутбуки</a>
        <a class="nav__link">Аксесуары</a>
    </nav>

    @RenderBody()
    
    <footer class="footer page__footer"></footer>

    <partial name="_ScriptsPartial"/>
</body>
</html>