:root {
    --light-dark-linear-gradient: linear-gradient(to left, #494544, #504B4A);
    --light-dark: #504B4A;
    --dark:  #403C3B;
    --green: #618967;
    --green-linear-gradient: linear-gradient(to left, #618967, #72A479);
    --gray: #CFCFCF;
    --light: #ffffff;
}