.input, [class*="input-"] {
    background-color: var(--light-dark);
    padding: 14px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    font-size: 1rem;
    font-weight: 500;
}

.input::placeholder, [class*="input-"]::placeholder {
    color: var(--gray);
}

.input--small {
    padding: 6px 10px;
    width: 70px;
}

.form {
    width: 400px;
    margin: 0 auto;
}

.form .input {
    width: 100%;
    margin-bottom: 10px;
}

.form button {
    width: 100%;
}

.form__row {
    display: flex;
    flex: 1 1 auto;
}
.form__row *:not(:last-child) {
    margin-right: 10px;
}



.validation-field > span {
    display: inline-block;
    color: var(--red);
    margin: 0 0 10px 5px;
}